<a href="https://colab.research.google.com/github/Basharul2002/AI/blob/main/22_47647_2_Week_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# About this notebook
<p style="text-align: justify"> Here, you will learn the basic statements of python and function. Some codes will be given for demonstration. Some other codes, you will do as excercise.</p>

## Submission
<p style="text-align: justify">After completing the practice codes and exercises, download the notebook (.pynb file) and submit the notebook  to MS Teams inbox in the class period</p>
<p> 1.<b> You must submit your own code</b>. If similarity found negative marking will be given.</p>
<p> 2. Modify the file name writing your ID at the beigining of the file name.</p><p> <b>Example: 20-45961-3 Lab 02.ipynb</b></p>
<p> 3. Other file format (except .pynb) or link will not be accepted.</p>

# User Input

In [1]:
a = 2002
print(a)

2002

In [2]:
a = input()
print(a)
print(type(a))

Basharul
Basharul
<class 'str'>

In [3]:
a = input('Enter a value: ') # always returns string
print('The given value is '+ a)
print(type(a))

Enter a value: Basharul
The given value is Basharul
<class 'str'>

In [5]:
a = int(input('Enter a number: ')) # returns string but converted to int
print('The result is', a + 11)
print(type(a))

Enter a number: 2002
The result is 2013
<class 'int'>

In [6]:
while True:
  a = input('Enter your Birth Year:')
  if a.isdigit():
    print('You are ' + str(2024-int(a)) + ' years old')
    print(2024-int(a))
    break
  print('WRONG INPUT')

Enter your Birth Year:2002
You are 22 years old
22

# if statement
There can be zero or more elif parts, and the else part is optional. The keyword ‘elif’ is short for ‘else if’

In [9]:
# indent
i = 2
if i < 5: # () not required, {} not required
  print('okay')
  print('fine')
else:
  print('bad')
print('not okay') # will be executed in each run

okay
fine
not okay

In [10]:
x = int(input("Please enter an integer: "))
if x < 0:
    x = 0
    print('Negative changed to zero')
elif x == 0:
    print('Zero')
elif x == 1:
    print('One')
else:
  print('More')

Please enter an integer: 2002
More

<b>Exercise 1:</b> Input a course mark (0-100) from user and use the <b>if</b> statement to print corresponding grade.

In [28]:
num = input("Enter your mark: ")

if not num.isdigit():
  print('WRONG INPUT')

else:
  print("Your grade is ")
  if int(num) >= 90:
    print('A+')
  elif int(num) >= 85:
    print('A')
  elif int(num) >= 80:
    print('B+')
  elif int(num) >= 75:
    print('B')
  elif int(num) >= 70:
    print('C+')
  elif int(num) >= 65:
    print('C')
  elif int(num) >= 60:
    print('D+')
  elif int(num) >= 50:
    print('D')
  else:
    print('F')

Enter your mark: 90
Your grade is
A+

# for statement
<p style="text-align: justify">The for statement in Python differs a bit from what you may be used to in C or C++. Rather than always giving the user the ability to define both the iteration step and halting condition, Python’s for statement iterates over the items of any sequence (a list or a string), in the order that they appear in the sequence.</p>

In [22]:
# Measure some strings:
words = ['Basharul', 'Alam', 'AIUB','CSE']

for word in words:
    print('The word is:',word)

The word is: Basharul
The word is: Alam
The word is: AIUB
The word is: CSE

In [23]:
words = ['Basharul', 'Alam', 'AIUB','CSE','Bangladesh']
for i in range(len(words)):
    print('the word is:',words[i])

the word is: Basharul
the word is: Alam
the word is: AIUB
the word is: CSE
the word is: Bangladesh

In [30]:
list(range(1, 100))

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [39]:
numbers = [1, 56, 78, 8,7]

for n in numbers:
    print(n+10)

11
66
88
18
17

In [40]:
list(range(5))

[0, 1, 2, 3, 4]

### The range() Function
If you do need to iterate over a sequence of numbers, the built-in function range() comes in handy. It generates arithmetic progressions:

In [32]:
# repeated for 0 to 4
# for(i=0;i<5;i++)
for i in range(0,100,10):
    print(i)

0
10
20
30
40
50
60
70
80
90

<p style="text-align: justify">The given end point is never part of the generated sequence; range(10) generates 10 values, the legal indices for items of a sequence of length 10. It is possible to let the range start at another number, or to specify a different increment (even negative; sometimes this is called the ‘step’):</p>

In [41]:
list(range(5, 10))

[5, 6, 7, 8, 9]

In [34]:
list(range(0, 10, 3))

[0, 3, 6, 9]

In [36]:
list(range(100, 0, -10))

[100, 90, 80, 70, 60, 50, 40, 30, 20, 10]

In [37]:
list(range(-10, -101, -30))

[-10, -40, -70, -100]

In [42]:
for i in range(len(numbers)):
    print(i, numbers[i])

0 1
1 56
2 78
3 8
4 7

In [43]:
for i in range(10,100,10):
    print(i, end=',')

10,20,30,40,50,60,70,80,90,

<b>Exercise 2:</b> Print all the even numbers between 0 to 100 using <b>for loop</b> and <b>range</b>.

In [48]:
for i in range(0,101,2):
    print(i, end = ' ')

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [49]:
country = "bangladesh"
for c in country:
    print(c,end=' ')

b a n g l a d e s h

# Functions
<p style="text-align: justify">The keyword def introduces a function definition. It must be followed by the function name and the parenthesized list of formal parameters. The statements that form the body of the function start at the next line, and must be indented.</p>

In [54]:
from math import sqrt

def isPrime(num):
  if num <= 1:
    return False
  for i in range(2, int(sqrt(num)) + 1):
    if num % i == 0:
      return False
  return True

# Check if a few numbers are prime
numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
for num in numbers:
  if isPrime(num):
    print(num, "is prime")
  else:
    print(num, "is not prime")

2 is prime
3 is prime
4 is not prime
5 is prime
6 is not prime
7 is prime
8 is not prime
9 is not prime
10 is not prime
11 is prime

In [53]:
def fib(n):    # write Fibonacci series up to n
    lst = [0,1]
    a, b = 0, 1
    while True:
        #print(a, end=' ')
        a, b = b, a+b
        if b < n:
          lst.append(b)
        else:
          break
        #print()
    return lst

In [ ]:
# Now call the function we just defined:
r = fib(1000)
print(r)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987]

In [55]:
# define method
def addnumbers(a, b): # add numbers and return result
    # logic
    c = a + b
    return c

In [56]:
addnumbers(2,23)

25

In [62]:
y = addnumbers('02-B', 'B-05') # use or call method
print(y)

02-BB-05

In [63]:
addnumbers([10, 100], [66])

[10, 100, 66]

In [76]:
# add list values
def addValues(num):
    sum = 0
    for n in num:
      print('Values: ' , n)
      sum = sum + n
    return sum

In [78]:
print('Sum: ', addValues(range(5)))

Values:  0
Values:  1
Values:  2
Values:  3
Values:  4
Sum:  10

In [79]:
print('Sum: ', addValues([1, 10]))

Values:  1
Values:  10
Sum:  11

In [80]:
v = [5, 4,12, 7]
print('Sum of arrays value: ', addValues(v))

Values:  5
Values:  4
Values:  12
Values:  7
Sum of arrays value:  28

In [81]:
v = [5, 4,12, 7, 5, 4,12, 7, 5, 4,12, 7]
print('Sum of array: ', addValues(v))

Values:  5
Values:  4
Values:  12
Values:  7
Values:  5
Values:  4
Values:  12
Values:  7
Values:  5
Values:  4
Values:  12
Values:  7
Sum of array:  84

In [89]:
# method/function
def multiTable(n, r=10):
    for i in range(1,r+1):
        print("{}x{} = {}".format(n,i,n*i))

In [90]:
multiTable(10)

10x1 = 10
10x2 = 20
10x3 = 30
10x4 = 40
10x5 = 50
10x6 = 60
10x7 = 70
10x8 = 80
10x9 = 90
10x10 = 100

In [91]:
multiTable(15)

15x1 = 15
15x2 = 30
15x3 = 45
15x4 = 60
15x5 = 75
15x6 = 90
15x7 = 105
15x8 = 120
15x9 = 135
15x10 = 150

<b>Exercise 3:</b> Define a <b>method/function</b> which will take two lists of numbers and returns a list (sum of two lists)
<p>Example:<br>
    Input: [3,4,5,1] and [6,7,2,8]<br>
    output: [9,11,7,9]</p>

In [108]:
def addValues(num1, num2):
    len_diff = len(num1) - len(num2)

    if len_diff > 0:
        num2.extend([0] * len_diff)
    elif len_diff < 0:
        num1.extend([0] * abs(len_diff))

    sum_list = []

    for i in range(len(num1)):
        sum_list.append(num1[i] + num2[i])

    return sum_list

addValues([2, 0, 0, 2, 7], [2, 0, 0, 5])

[4, 0, 0, 7, 7]

<b> Exercise 4:</b> Write a <b>method</b> which will take the <b>full name</b> as input and return both the first name and last name.
<p>Example:<br>
    Input: Arafat Rahman Sunny<br>
    Output: First name: Arafat, Last name: Sunny</p>

In [100]:
def name(name):
  name = name.split()
  return (f'First name: {name[0]}, Last name: {name[-1]}')

name('Arafat Rahman Sunny')

'First name: Arafat, Last name: Sunny'

# Output Formatting (Optional)
Go to the [link](https://docs.python.org/3/tutorial/inputoutput.html#formatted-string-literals) and practice the codes below.

In [102]:
name = input("Enter your name: ")
birthYear = input("Enter your birthyear: ")
print(f'Hello {name}, you are {2024-int(birthYear)} years old')

Enter your name: Basharul Alam Mazu
Enter your birthyear: 2002
Hello Basharul Alam Mazu, you are 22 years old